:root {
    --main: rgb(18, 17, 17);
    --background: rgb(73, 73, 73);
    --text: rgb(255, 255, 255);
    --white: rgb(33, 33, 33);
    --purple1: rgb(255, 255, 255);
    --purple2: rgb(56, 49, 49);
}

body {
    min-height: 100vh;
    background: #161B21;
    overflow-x: hidden;
}

*{
    transition-duration: 300ms !important;
}

.navigation {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #1D232C; 
    border-left: 10px solid #1D232C;
    transition: 0.3s;
    overflow: hidden;
    font-weight: 900;
    border-radius: 20px;
    scale: .98;
}

.navigation.active {
    border-radius: 100px;
    margin-left: 3px;
    width: 80px;
}



.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: #0077E4;
}

.navigation ul li:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 25px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    margin-left: -20px;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul.custom-margin {
    width: 130% !important;
    /* margin-left: 20px !important; */
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: white;
}

.navigation ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 67px;
    height: 60px;
    text-align: center;
    margin-left: 15px;
}

.navigation ul li a .icon i {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 60px;
    /* line-height: 60px; */
    text-align: start;
    white-space: nowrap;
}

/*  NAV LIST OUTSIDE CURVE  */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #0077E4;
    pointer-events: none;
}




.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #0077E4;
    pointer-events: none;
}





.main {
    position: absolute;
    width: calc(100% - 230px);
    left: 230px;
    min-height: 100vh;
    background: #161B21;
    transition: 0.4s;
    /* border-radius: 20px !important; */
    scale: .99;
}

.main.active {
    margin-left: -145px;
    width: calc(100% - 85px);
}

.topbar {
    width: 100%;
    border-radius: 20px !important;
    height: 60px;
    background: #1D232C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 9px 5px 5px rgba(0, 0, 0, 0.08);
}

.toggle {
    position: relative;
    /* width: 60px; */
    /* height: 60px; */
    display: flex;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

/* .toggle i {
    color: red !import;
} */

.search {
    position: relative;
    width: 600px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none !important;
    border: none;
    font-size: 16px;
    background: #3B4758;
    border: 2px solid #3B4758;
}

.search label input:hover,
.search label input:focus {
    outline: none !important;
    background: var(--text);
}

.search label i {
    position: absolute;
    color: var(--purple2);
    font-weight: 900;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.notify {
    font-size: 1.4em;
    display: flex;
    margin-top: -8px;
}

.notify:hover {
    color: var(--main) !important;
    cursor: pointer;
}

.user {
    position: absolute;
    right: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardbox {
    position: relative;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
}

.cardbox .card {
    position: relative;
    background: #1D232C;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 7px 15px #0077E4;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardbox .card .title {
    position: relative;
    font-weight: 700;
    font-size: 2.5em;
    color: white;
}

.cardbox .card .titletexts {
    color: white;
    font-size: 1.1em;
    margin-top: 5px;
}

.cardbox .card .iconbox {
    /* font-size: 2.4em; */
    color: #0077E4;
}

.cardbox .card:hover {
    background: #0077E4;
    box-shadow: 0 7px 5px #3B4758;
}

.cardbox .card:hover .title,
.cardbox .card:hover .titletexts {
    color: #161B21;
}
.cardbox .card:hover .iconbox {
    color: white !important;
}


/* Content */
.details {
    position: relative;
    width: 100%;
    /* height: fit-content; */
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.details .recentOrders {
    position: relative;
    /* display: grid; */
    min-height: 500px;
    background: #1D232C;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
}
.details .recentOrders tr {
    display: flex; 
    justify-content: space-between;
}

.rcrow {
    position: relative;
}

.cardHeader h2 {
    font-weight: 600;
    color: #0077E4;
}

.option-box {
    position: absolute;
    /* top: 0; */
    right: 15%;
    color: white !important;
    display: none;
    background-color: rgb(224, 224, 224);
    padding: 20px;
    margin-top: 20px;
    scale: .7;
    border-radius: 10px;
}

.rcrow:hover .option-box {
    display: block;
    z-index: 999999;
}

.option-box button {
    margin-right: 10px;
}

.editBtn{
    background-color: green;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: 900;
}
.deleteBtn{
    background-color: red;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: 900;
}

.btn {
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    background: #0077E4;
    color: white;
    border-radius: 6px;
}

.details table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--purple1);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: #161B21;
    border-radius: 10px;
    font-weight: 600;
    color: #0077E4;
}

.details .recentOrders table td {
    padding: 10px;
}

.details .recentOrders table td:last-child {
    text-align: end;
}

.details .recentOrders table td:nth-child(2) {
    text-align: end;
}

.details .recentOrders table td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: #0077E4;
    font-size: 14px;
    color: #3B4758;
    border-radius: 4px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: red;
    font-size: 14px;
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: green;
    font-size: 14px;
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
}

.recentCustomers {
    position: relative;
    display: grid;
    padding: 20px;
    background: #1D232C;
    min-height: 500px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.recentCustomers .imgBox {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.recentCustomers .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: white;
}

.recentCustomers table tr:hover {
    background: #161B21;
    color: #0077E4;
}

.recentCustomers table tr:hover td h4 span {
    color: var(--text);
}

@media (max-width: 991px) {
    .navigation {
        left: -270px;
    }

    .navigation.active {
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 230px;
    }

    .cardbox {
        grid-template-columns: 3fr 1fr;
    }

    .chatbox {
        grid-template-columns: 1fr;
        height: auto;
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders {
        overflow: auto;
    }
    
    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 650px) {
    .cardbox {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 480px) {
    /* .cardbox {
        grid-template-columns: repeat(1, 1fr);
    } */

    .usersCardBox{
        padding: 10px 30px !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .userCardBoxContent{
        display: flex !important;
        flex-direction: row !important;
        color: green !important;
        align-items: center;
    }
    .userCardBoxContent .titletexts{
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: white;
        color: blue !important;
        height: 30px;
        font-size: 1rem !important;
        font-weight: 800;
        width: 30px;
        border-radius: 100px;
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1;
        border-radius: 100px;
    }
    
    .navigation.active {
        border-radius: 0%;
        min-width: 100%;
        left: 0;
    }
    
    .search input {
        background: var(--text) !important;
    }
    
    .toggle {
        z-index: 999999 !important;
    }

    .main.active{
        scale: none;
    }

    .main.active .toggle {
        z-index: 1000 !important;
        position: fixed;
        width: 40px;
        height: 40px;
        
        right: 5%;
        left: initial;
        margin-top: 45px !important;
        /* margin-left: 40px !important; */
    }
}